.App {
  margin: 0;
  padding: 0;
}
h1{
    text-align: center;
    margin: 2rem;
}
.data-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.data {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
}
img {
  width: 300px;
  border-radius: 25px;
  object-fit: contain;
}
.left {
  width: 40%;
}
.right {
    margin-left:1rem ;
}
